<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRISBY - Servicios</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <div class="container"> 
        <main>
            <img src="../Img/inicio.png" width="30%" alt="Logo Frisby">
        </main>

        <nav class="menu">
            <ul>
                <li><a href="../index.html"><img src="../Img/inicio1.png" alt="Inicio"></a></li>
                <li><a href="#"><img src="../Img/servicios.png" alt="Servicios"></a></li>
                <li><a href="contacto.html"><img src="../Img/contactos.png" alt="Contactos"></a></li>
            </ul>
        </nav>

        <div class="imagenes">

            <div class="combo">
                <h4>COMBO 1</h4>
                <img src="../Img/combo1.jpg" alt="Combo 1">
                <p>Pollo frito, papas fritas, gaseosa y postre.</p>
            </div>
            <div class="combo">
                <h4>COMBO 2</h4>
                <img src="../Img/combo2.jpg" alt="Combo 2">
                <p>Pollo frito, papas fritas, gaseosa y postre.</p>
            </div>
        </div>
        <footer>
            <p>Encuéntranos en nuestras redes sociales</p>
            <ul>    
                <li><a href="http://www.youtube.com/@FrisbyFans"><img src="../Img/Youtube (1).png" alt="YouTube"></a></li>
                <li><a href="https://www.facebook.com/frisbyfans"><img src="../Img/Facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.twitter.com/frisbylohace"><img src="../Img/twiter.png" alt="Twitter"></a></li>
            </ul>
            <h1>Estefanya Garay Larios</h1>
            <h2>Desarrolladora Web</h2>
            <h3>estefanyagl@gmail.com</h3>
            <h4>555-1234</h4>
            <h5>Colombia</h5>
        </footer>

    </div>
</body>
</html>